/*body {
	 background-color: #efebe0;
  font-family: Greenhouse,sans-serif;
	font-size: 55px;
	background-color: #010a01;
    display: flex;
    justify-content: center;
    align-items: center;  
}*/
.big-bold-text {
width: 100%;
height: 94px;

font-family: Greenhouse,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 113px;
padding-right: 15px;
padding-left: 10px;

color: #824426;
border: solid;
box-sizing: border-box;
margin: 0 45 0 45;
}

.final {
  margin-left: 145px;
  margin-top: 44px;
}
/**
 * make appear in line with need ... engineer
 * */
.floating-words {
 white-space: normal;
}

.header-options {
  align-items: center;
  text-align: center;
  color: #824426;
  font-size: 30px;
}


  .header-button {
    color: #824426;
    border: solid 1.75px;
    background-color: #fcb6ea;
    border-radius: 15px 15px 15px 15px;
    width: 14%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

h3 {
  padding-left: 15px;
  color: #AAC4FF;
  outline-color: black;
  font-size: medium;
  font-family: Greenhouse,sans-serif;
}

body{
  background: #efebe0;  
  font-family: Greenhouse,sans-serif;
  color: #824426;
}

svg{
  position: absolute;
  top: 0;
}

a {
  color: darkcyan;
  font-size: large;
  text-decoration: none;
  align-content: center;
}

ol {
  padding-inline-start: 0px;
}

footer {
  position: fixed;
  padding-top: 10%;
}

p {
  max-width: 700px;
  padding-left: 30px;
  font-family: 'Italiana';
}

.thick_font {
  font-family: Blippo, fantasy;
}

.right_leaning_text {
  text-align: right;
}
.bottom_space {
  padding-left: 20%;
  padding-bottom: 25%;
}

.fun_text {
  font-family: Apple Chancery, cursive;
  font-weight: 400;
  font-size: 55px;
  color: #b34797;
  margin-left: 45px;
  margin-top: 44px;
}

.mono_text {
  font-family: OCR A Std, monospace;
  color: #AAC4FF;
/*  color: #dbd688;*/
/*  background-color: #AAC4FF;*/
  font-weight: 400;
  font-size: 60px;
  padding-left: 65px;
  margin-bottom: 14px;
}

.statement_text {
  font-family: stalemate, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-top: 0px;
}