h3 {
  padding-left: 15px;
  color: #852999;
  outline-color: black;
  font-size: large;
  border: solid 1.75px;
  text-align: center;
  background-color: #fcb6ea;

  border-radius: 15px 15px 15px 15px;
  width: 20%;


  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.button {
  color: #852999;
  border: solid 1.75px;
  text-align: center;
  background-color: #fcb6ea;
  border-radius: 15px 15px 15px 15px;
  width: 14%;


  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-right: 20px;
}

body{
  background: #F5D5AE;  
/*  font-family: Greenhouse,sans-serif;*/
  color: #824426;
}

svg{
  position: absolute;
  top: 0;
}

a {
  color: darkcyan;
  font-size: large;
  text-decoration: none;
  align-content: center;
}
.section-box {
  box-sizing: border-box;

}

ol {
  padding-inline-start: 0px;
}

footer {
  position: fixed;
  height: 45px;
}

p {
  max-width: 700px;
  padding-left: 30px;
  font-family: 'Italiana';
  font-size: medium;
}

.big-bold-text {
width: 100%;
height: 94px;

font-family: Greenhouse,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 113px;
padding-right: 15px;
padding-left: 10px;

color: #824426;
border: solid;
box-sizing: border-box;
margin: 0 45 0 45;
}

.final {
  margin-left: 145px;
  margin-top: 44px;
}
/**
 * make appear in line with need ... engineer
 * */
.floating-words {
 white-space: normal;
}

.header-options {
  align-items: center;
  text-align: center;
  color: #824426;
  font-size: 30px;
}


.thick_font {
  font-family: Blippo, fantasy;
}

.right_leaning_text {
  text-align: right;
}
.bottom_space {
  padding-left: 20%;
  padding-bottom: 25%;
}

.fun_text {
  font-family: Apple Chancery, cursive;
  font-weight: 400;
  font-size: 55px;
  color: #b34797;
  margin-left: 45px;
  margin-top: 44px;
}

.mono_text {
  font-family: OCR A Std, monospace;
  color: #AAC4FF;
/*  color: #dbd688;*/
/*  background-color: #AAC4FF;*/
  font-weight: 400;
  font-size: 60px;
  padding-left: 65px;
  margin-bottom: 14px;
}

.statement_text {
  font-family: stalemate, sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-top: 0px;
}